.login-background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}
.login-logo{
    margin: 30px 20px 0 0;
}
.text-muted{
    font-size: 12px;
    text-align: right;
    color: #A787BA;
}
.know {
    width: 175px;
    height: 40px;
    margin-left: 155px;
    top: 811px;
    border: 2px solid #6A34A1;
    border-radius: 15px;
    background-color: #6A34A1 !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    text-decoration: none;
    cursor: pointer;
    color: white;
    text-align: center;
    padding-top: 8px;
}
.login {
    background-color: #6A34A1 !important;
    border: 2px solid #6A34A1;
    margin-top: 30px;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    padding-top: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.login > a{
    text-decoration: none;
    color: white;
}
.text-center{
    font-weight: 800;
}